<div class="scrollable scrollDiv home">
    <div class="scrollable-header searchHeader">
        <section style="position:static" class="section container-fluid" ng-class="{'baseBg': showCares}">
            <div class="row">
                <div class="col-xs-9">
                    <div class="search-wrapper" >
                    <input type="text" ng-model="search" class="searchField" focus-me="searchVisibility" placeholder="Verstrekking zoeken" maxlength="20" id="searchInputField" />
                    </div>
                </div>
                <div class="col-xs-3 text-right">
                    <img src="images/search-icon.png" ng-click="toggleSearch()" style="cursor: pointer; height: 3em">
                </div>
            </div>
        </section>
    </div>
    <div class="scrollable-content">
        <div class="table-wrapper">
            <div ng-cloak class="wrapper">
                <div class="container-fluid text-center" ng-hide="showCares">
                    <div class="row" style="">
                        <div class="col-xs-4" style="margin-top: 18%">
                            <div ontouchstart="return true;" class="category" ng-click="showCategory($event,1)" ng-class="{'opacity-0-7': selectedCategory == Data.Categories[1]}"><img src="images/DiabetesC.png">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div ontouchstart="return true;" class="category" ng-click="showCategory($event,0)" ng-class="{'opacity-0-7': selectedCategory == Data.Categories[0]}" ;><img src="images/algemeneZorgenC.png">
                            </div>
                        </div>
                        <div class="col-xs-4" style="margin-top: 18%">
                            <div ontouchstart="return true;" class="category" ng-click="showCategory($event,2)" ng-class="{'opacity-0-7': selectedCategory == Data.Categories[2]}"><img src="images/palliatieveForfaitsC.png">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20%">
                        <div class="col-xs-4">
                            <div ontouchstart="return true;" class="category" ng-click="showCategory($event,3)" ng-class="{'opacity-0-7': selectedCategory == Data.Categories[3]}"><img src="images/specifiekTechnischeC.png">
                            </div>
                        </div>
                        <div ontouchstart="return true;" class="col-xs-4" style="margin-top: 18%">
                            <div class="category" ng-click="showCategory($event,4)" ng-class="{'opacity-0-7': selectedCategory == Data.Categories[4]}"><img src="images/zwaarZorgafhandelijkePatienten.png">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div ontouchstart="return true;" class="category" ng-click="showCategory($event,5)" ng-class="{'opacity-0-7': selectedCategory == Data.Categories[5]}"><img src="images/andereC.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-cloak ontouchstart="return true;" class="overlay" ng-hide="showCares || selectedCategory == null " ng-class="[{'opacity-0': categoryChanging}, {'opacity-1': !categoryChanging}, selectedCategory.color]" ng-click="selectCategory(selectedCategory)">
                    <div class="">
                        <img ng-src="images/{{ selectedCategory.icon }}" />
                    </div>
                    <div class="catName">
                        <h5 ng-cloak>{{ selectedCategory.name }}</h5>
                        <!-- Details below the hexagon? -->
                    </div>
                </div>
            </div>
            <div class="searchResults col-xs-12" ng-show="showCares">
                <div ng-repeat="care in Data.Cares | filter:filter" class="careDiv animate">
                    <div ng-click="showCareDetail(care)">
                        <h3 class="abbr">{{care.abbr}}</h3>
                    </div>
                    <div class="care-wrapper" ng-show="selected == care.name">
                        <div care-details care="care" ng-class="{ 'caredetail' : true, 'Open': selected == care.name}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ui-content-for="modals">
  <div class="modal" ui-if="modal1" ui-state='modal1'>
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" ui-turn-off="modal1">&times;</button>
          <h4 class="modal-title">Dagvergoeding</h4>
        </div>
        <div class="modal-body">
          <p>Voor deze zorg is het mogelijk een basisprestatie toe te voegen, we kunnen dit opslaan in je persoonlijk overzicht. Wil je ze toevoegen?</p>
        </div>
        <div class="modal-footer">
          <button ui-turn-off="modal1" class="btn btn-default basisPrestBtn" ng-click="selectBaseCare(false)">Nee</button>
          <button ui-turn-off="modal1" class="btn btn-primary basisPrestBtn" ng-click="selectBaseCare(true)">Ja</button>
        </div>
      </div>
    </div>
  </div>
</div>
