<div class="scrollable">
    <div class="summaryContainer scrollable-content">
        <div ng-cloak class="summaryWrapper">
            <div class="clearfix">
                <h2>Overzicht</h2>
                <div class="counter fill" counter-directive count="Count"></div>
            </div>
            <hr>
            <div id="resetDiv">
                <a ng-click="Reset()"><img src="images/Reset.png" />Reset</a>
            </div>
            <div>
                <h4>Geselecteerde zorgen:</h4>
                <div class="container">
                    <div class="row" ng-repeat-start="careListing in selectedCares">
                        <div class="col-xs-10">
                            <p>{{ careListing.care.name }}</p>
                            <div pricing-directive listing="careListing"></div>
                            <p class="details">{{ careListing.detail | careDetail }}</p>
                        </div>
                        <div class="col-xs-2">
                            <span class="removeListing" ng-click="removeListing(careListing)"><b>-</b></span>
                        </div>
                    </div>
                    <hr ng-repeat-end>
                    <div class="row" ng-show="!selectedCares.length">
                        <p>
                            Er zijn nog geen zorgen geselecteerd. Je kan <a href="#/">hier</a> prestaties toevoegen.
                        </p>
                    </div>
                </div>

            </div>

            <div class="clearfix">
            </div>
        </div>    
    </div>
</div>